.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  min-width: 64px;
  background: #229d88;
  transition: min-width .15s;

  &.expanded {
    min-width: 240px;
  }

  .side-nav {
    height: 80%;
  }

  .side-signout {
    background: none;
    border: none;
    line-height: 50px;
    color: #fff;
    font-size: 1.75rem;
    padding: 0;
    width: 100%;
    text-align: left;

    &:hover {
      background: #282c34;
    }

    .side-navicon {
      width: 64px;
    }

    .side-navtext {
      font-size: 1.25rem;
    }
  }

  .side-navlink {
    display: block;
    opacity: .7;
    line-height: 50px;
    color: #fff;
    font-size: 1.75rem;
    width: 100%;
    height: 50px;
    text-decoration: none;

    &.active {
      opacity: 1;
    }

    &:hover {
      background: #282c34;
    }

    .side-navicon {
      width: 64px;
    }

    .side-navtext {
      font-size: 1.25rem;
    }
  }
}